# Build system
**/.dockerignore
Dockerfile
build.sh

# Misc
claripy/claricpp/old
.azure-pipelines
**/.editorconfig
**/__pycache__
**/.DS_Store
**/.idea
**/*.pyc
.github

# Git
**/.gitmodules
**/.gitignore
**/.git

# Vim
**/.ycm_extra_conf.py
**/*.swp
**/*.swo
**/*.swn

# setup.py artifacts
claripy.egg-info
MANIFEST
build
dist

# Native installed items
claripy/claricpp/clari.*
claripy/claricpp/libclaricpp.*
claripy/claricpp/LICENSE.GMP
claripy/claricpp/libgmp.a
claripy/claricpp/src

# Native build artifacts
native/Doxyfile
native/.build.*
native/.cache
native/build

# External projects
native/boost
native/gmp

# Explicit
native/src/api/binder
native/Ignore/*
native/ignore/*

# From .gitignore:

# Prerequisites
**/*.d

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.obj

# Precompiled Headers
**/*.gch
**/*.pch

# Compiled Dynamic libraries
**/*.so
**/*.dylib
**/*.dll

# Fortran module files
**/*.mod
**/*.smod

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib

# Executables
**/*.exe
**/*.out
**/*.app
