[submodule "native/backward-cpp"]
	path = native/backward-cpp
	url = https://github.com/bombela/backward-cpp/
[submodule "native/pybind11"]
	path = native/pybind11
	url = https://github.com/pybind/pybind11
