# IDE
/.build*
/.idea/*

# Explicit
/boost/*
/Ignore/*
/ignore/*
/build/*
/Build/*
/old/*

# Build artifacts
/.cache/*
/Doxyfile
/compile_commands.json
/z3/*

# For vim
**/.ycm_extra_conf.py
**/*.swp
**/*.swo
**/*.swn

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
