# IDE
.build*
.idea/*

# Explicit
Ignore/*
ignore/*
build/*
Build/*

# Build artifacts
.cache/clangd
Doxyfile
compile_commands.json
z3/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# For vim
**/.ycm_extra_conf.py
**/*.swp
**/*.swo
**/*.swn

# Directories
**/build/*
dr*.log
old/*
