# IDE
.idea/*

# Dependencies
boost/*
gmp/*

# Explicit
ignore/*

# Build artifacts
boost_headers-dir-*.tmp # This is a temporary
Doxyfile
.cache/*
.build.*
build/*

# For vim
**/.ycm_extra_conf.py
**/*.swp
**/*.swo
**/*.swn

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
