name: Test

on:
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        python-version: ["3.10", "3.12", "3.13-dev"]
      fail-fast: false
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
        name: Install
      - run: pytest
        name: Run pytest
